
img {
    -webkit-user-drag: none;
    /*draggable="false"*/
}
#loading{position:fixed;top:0;left:0;width:100%;height:100%;background:#e4e3e3;opacity:1.0;z-index:15000;}
#loading img{position:absolute;top:50%;left:50%;width:100px;height:100px;}

a:hover{text-decoration:underline;color: #F0F8FF}
a{ text-decoration:none;color: #F0F8FF}

#sel{cursor: url('texiao/chuyin3.png'),default}
#shuru{cursor: url('texiao/chuyin3.png'),default}
#shuchu{cursor: url('texiao/chuyin3.png'),default}
html{cursor: url("texiao/chuyin.png"),default}
p{cursor: url("texiao/chuyin.png"),default}
head{cursor: url("texiao/chuyin.png"),default}
span{cursor: url("texiao/chuyin.png"),default}
body{cursor: url("texiao/chuyin.png"),default}
a{cursor: url('texiao/chuyin3.png'),default}
.play{cursor: pointer}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 7px;
}
::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius   : 10px;
    background-color: #3282b8;
    background-image: -webkit-linear-gradient(
            top,
            rgba(255, 255, 255, 0.2) ,
            rgba(255, 255, 255, 0.5) ,
            rgba(255, 255, 255, 0.1)
    );
}
::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #fe91ca;
    border-radius: 10px;
}

#taiyang{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 60px;
    top: 40px;
}

#all{
    margin: 0;
    padding: 0;
    width: 35%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 4%;
    left: 32%;
}


#all>div:hover{background: linear-gradient(125deg,rgb(135,206,235),transparent,rgb(240, 230,140),rgb(0, 255,127),transparent);
    background-size: 400%;
    width: 100px;
    height:100px;
    border-radius: 8px;
    z-index: 111;
    animation: ac 15s infinite;
}


.bianse{
    background: #6495ED;
}

.photo{width: 70px;
    height:70px;
    margin: 0px;
    padding: 15px;
    z-index: 1;
}



#allBiao div{
    width: 800px;
    height:400px;
    border: 0px;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 5px black;
    background:rgba(0,0,0,0.3);
    z-index: -2;
    position: absolute;
    top: 20%;
    left: calc(50% - 400px);
}



.table{font-family: '微软雅黑 Light';color: #F0F8FF;border-spacing: 60px 10px}


#sel{
    letter-spacing: 1px;
    font-weight: 600;
    background: transparent;
    width: 80px;
    height:40px;
    border: gray 1.5px solid;
    border-radius: 8px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 20%;
    right: 24%;
    z-index: -1;
}


#sel{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("texiao/x1.png") no-repeat scroll right center transparent;
    padding-right: 14px;
}


.hidden {
    display: none;
}
.show {
    display: block;
}



.search{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 6%;
    position: absolute;
    bottom: 15%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.text{font-family: "Adobe 黑体 Std R";font-size:180%;border-radius: 5px;}
.player{position: fixed;bottom: 0px;right: 0px}



.wangzhi{height: 20px;width: 600px;background: snow;border: black 2px solid;border-radius: 5px}
.wangzhi{filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;}
.tijiao{height: 25px;width: 50px;background:#6495ED;border: black 2px solid;border-radius: 5px}
.tijiao{filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;}


.text {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;}





/*
#body{
    background-image :url("picture/beijing1.jpg");
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
   }*/
.bai{
    background: linear-gradient(90deg,#f1c5c5,#faf0af,#8bcdcd,#ade498);
    background-size: 400%;
    animation: ac 15s infinite;
}

#bj{
    background-repeat:no-repeat ;
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
    height: 1200px;
    width: 1200px;
    opacity: 1.0;
     }


.plbg{
    width: 180px;
    height: 45px;
    background: linear-gradient(125deg,#96fbc4,transparent,#a0f1ea,transparent,#c7166f,transparent,#f1c40f);
    background-size: 400%;
    border-radius: 5px;
    box-shadow: 0 0 5px #B3D9D9	;
    position: absolute;bottom: 10px;right: 10px;
    filter:alpha(opacity=50);
    opacity: 0.7;
    animation: ac 15s infinite;
}
.plbg:hover{
    filter:alpha(opacity=50);
    opacity: 1.0;
}

@keyframes ac {
    0%{
    background-position: 0% 0%;
}
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 0%;
    }

}

#song{
    font-size: 18px;
    position: absolute;bottom: -15px;right: 20px;
    font-family: '微软雅黑 Light';
    color: #F0F8FF;
}


.play{
    width: 40px;
    height: 40px;
    margin: 2px;
}


.play.rotate{
    -webkit-animation: rot 5s linear infinite;
    animation: rot 5s linear infinite;
}

@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#yc1{
    width: 150px;
    height:200px;
    border: 0px;
    border-radius: 8px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 5px black;
    background:rgba(0,0,0,0.3);
    z-index: -1;
    position: absolute;
    left: -150px;
    top: 0px;
}
#yc2{
    z-index: -1;
    box-shadow: 0px 0px 5px black;
    border: 1px solid;
    border-radius: 8px;
    width: 20px;
    height: 40px;
    background:linear-gradient(to  bottom,blue 50%,snow 50%);
    opacity: 0.3;
    position: absolute;
    left: 150px;
    top: 0px;
}


.hei{background: linear-gradient(90deg,#162447,#1b1b2f,#1f4068,#184d47);
    background-size: 400%;
    animation: ac 30s infinite;}
.btlab {cursor: pointer;
    position: absolute;}
.btlab input{display: none;}
.btlab span{
    color: #2c3e50;
    font-family: "微软雅黑 ";
    display: inline-block;
    width: 84px;
    height: 20px;
    border-radius: 8px;
    background-color: snow;
    opacity: 0.6;
    position: absolute;
    transition: background-color .4s;
}

.btlab span:before {
    content: '';
    width: 42px;
    height: 20px;
    border-radius: 8px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: blue;
    opacity: 0.6;
    transition: left .4s;
}


.btlab input:checked + span {
    background-color:#999;
    transition: background-color .4s;
}
.btlab input:checked + span:before {
    left: 42px;
    opacity: 0.6;
    transition: left .4s;
}

.box {
    position: absolute;
    top: 74%;
    right: 22%;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    transform-style: preserve-3d; /* 表示所有子元素在3D空间呈现 */
    transform: rotateX(-50deg) rotateY(50deg);
    transform-origin: 50% 50%;
    animation-name:zftrot;
    animation-duration:5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-play-state:running;
    z-index: 100;
}
.box:hover{animation-play-state:paused;}

.box >  div{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px snow solid ;
    background: transparent;
}
.box >  div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;     /* 裁剪*/
    filter: blur(0px);
    user-select: none;
}

.box >  div:nth-child(1) {
    transform: rotateX(0deg) translate3d(0, 0, 50px);
}
.box >  div:nth-child(2) {
    transform: rotateX(90deg) translate3d(0, 0, 50px);
}

.box >  div:nth-child(3) {
    transform: rotateY(-90deg) translate3d(0, 0, 50px);
}
.box >  div:nth-child(4) {
    transform: rotateY(90deg) translate3d(0, 0,  50px);
}
.box >  div:nth-child(5) {
    transform: rotateX(-90deg) translate3d(0, 0, 50px);
}
.box >  div:nth-child(6) {
    transform: rotateY(0deg) translate3d(0, 0, -50px);
}

@keyframes zftrot {
    from{
        transform: rotate3d(0, 0, 0, 0deg);
    }
   to{
       transform: rotate3d(1, 1, 1, 360deg);
   }
}

.lb-box{
    position: absolute;
    width: 30%;
    height: 30%;
    right: 2%;
    bottom: 5%;
    display: flex;
    justify-content: flex-end;
    z-index: -2;
}

.lbj{
    position: absolute;
    background: transparent;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbtn{
    width: 15px;
    height: 15px;
    background:linear-gradient(#a6dcef 20%,snow 30%,#00bcd4 ,#b6eb7a,#96bb7c);
    border: #eae7d9 2px solid;
    box-shadow: 0 0 10px #eae7d9	; /*x,y，模糊 */
    border-radius: 50%;
    cursor: pointer;
    margin: 8px;
}

#lbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lbphoto{
    width: 100%;
    height: 100%;
    animation :lb 0.5s 1 linear
}

@keyframes lb {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1.0;
    }
}


#tk{
    width: 150px;
    height: 150px;
    background:linear-gradient(#a6dcef 20%,snow 30%,#00bcd4 50%,#1dd1a1);
    border: #eae7d9 1px solid;
    box-shadow: 3px 3px 5px #636e72;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: -2;
}
#tk2{
    width: 150px;
    height: 150px;
    background:linear-gradient(#40739e 20%,#718093 30%,#192a56 50%,#273c75);
    border: black 1px solid;
    box-shadow: 3px 3px 5px #353b48;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: -2;
}
